.header {
    background-color: #3498db;
    height: 60px;
}

.header h2 {
    color: #fff;
    margin-left: 10px;
}

.wrapper {
    display: flex;
}
.header img {
    width: 50px;
    height: 50px;
}