.header {
    background-color: #3498db;
    min-height: 60px;
}

.header h2 {
    color: #fff;
    margin-left: 10px;
}

.wrapper {
    display: flex;
}
.header img {
    width: 50px;
    height: 50px;
}

.loginBlock {
    background-color: #354c5f;
    margin-left: 200px;
}
.loginBlock a {
    color: white;
    text-decoration: none;
}

