.nav {
    background-color: gray;
    /*width: 150px;*/
    justify-content: center;
    padding: 20px;

}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friends {
    margin-top: 30px;
}


.friendsItems {
    display: flex;
    justify-content: space-between;
}

.friendsItem {
    display: block;
    margin-right: 10px;
}