.nav {
    background-color: #354c5f;
    /*width: 150px;*/
    justify-content: center;
    max-width: 220px;
}

.item {
    overflow: hidden;
}

.item a {
    color: #b0c4d4;
    text-decoration: none;
    line-height: 48px;
    font-size: 20px;
    padding-left: 15px;
    display: block;
    /*width: 100%;*/
    border-bottom: 2px solid #334a5c;
}

.item a:hover {
    background-color:#22323f;
    color: #fff;
}

/*item a:hover {*/
/*    color: #fff;*/
/*}*/
.item a.active {
    color: #fff;
}

.friends {
    margin-top: 30px;
}


.friendsItems {
    display: flex;
    justify-content: space-between;
}

.friendsItem {
    display: block;
    margin-right: 10px;
}